---
import presentation from "@/data/presentation";

enum SocialType {
  linkedIn = "LinkedIn",
  gitHub = "GitHub",
  twitter = "Twitter",
  email = "Email",
}
---

<div class="flex justify-center gap-3">
  {
    presentation.socialMedia.map((social) => {
      const href =
        social.type === SocialType.email ? `mailto:${social.url}` : social.url;
      return (
        <a
          aria-label={social.type}
          class="icon-link"
          href={href}
          target="_blank"
        >
          <img
            class="size-14 p-1 md:size-8"
            src={social.icon}
            alt={social.type}
          />
        </a>
      );
    })
  }
</div>
