---
import type { Certificate } from "@/data/certificates";

type Props = Certificate;
const { title, techs, period, link, document, imageUrl, isComingSoon } = Astro.props;

const formatSkills = (values: string[]) =>
  values.toString().replaceAll(",", " | ");
---

<div
  class="card-hover-effect card-image-hover-effect hover-lift flex flex-col h-96 max-w-sm rounded border shadow border-neutral-500 bg-transparent hover:border-blue-500 transition-all duration-300"
>
  {
    imageUrl && (
      <div class="w-full h-52 overflow-hidden">
        <img
          src={imageUrl}
          alt={`${title} project screenshot`}
          class="w-full h-full object-cover border rounded border-neutral-500 transition-colors duration-300"
        />
      </div>
    )
  }
  
  <div class="flex flex-col justify-between flex-grow">
    <div class="p-2">
      <h5 class="text-sm font-bold tracking-tight">
        {title}
      </h5>
      <div class="text-xs font-bold text-blue-700 dark:text-gray-300 mt-1">
        {formatSkills(techs)}
      </div>
      <div class="text-xs text-gray-500 mt-0.5">
        {formatSkills(period)}
      </div>
    </div>

    <div class="p-1 mt-auto">
      {
        !isComingSoon && (
          <div class="flex flex-wrap justify-end gap-2">
            {document && (
              <a
                class="icon-link"
                href={document}
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  class="size-10 p-1"
                  src="/assets/svg/icons/open.svg"
                  alt="document url"
                />
              </a>
            )}
            {link && (
              <a
                class="icon-link"
                href={link}
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  class="size-10 p-1"
                  src="/assets/svg/icons/verificate.svg"
                  alt="live url"
                />
              </a>
            )}
          </div>
        )
      }
    </div>
  </div>
</div>
